<%- include("../views/partials/header.ejs") %>

<main>
    <h3> ejs-테스트 입니다</h3>
    <h3> 곧 body부분만 따로 떼어서 작업할 수 있는 express-ejs-layouts가 사용가능하는지 테스트할 예정입니다</h3>
    <div> 조이름 : <%= name %>
    </div>
    <div> 인원수 : <%= number %>
    </div>
    <div> 직업 : <%= job %>
    </div>
</main>

<%- include("../views/partials/footer.ejs") %>
