<form class="clubs-list">
  <h3 style="text-align: center; margin: 50px 0px 50px 50px;">스파르타커뮤클럽</h3>
  <div class="form-club">
    <div class="form-category">
      <p>모각코/모임 게시판</p>
    </div>
    <div class="post-btn">
      <button type="button" class="club-post" onclick="location.href='/club/clubspost'">글 쓰기</button>
    </div>
    <div class="form-list">
      <% for(let i=0; i < terms.length; i++) {%>
        <div class="list-detail">
          <!-- <p>
          <%= terms[i].clubId %>
        </p> -->
          <p onclick="location.href='list/<%= terms[i].clubId%>'">
            <%= terms[i].title %>
          </p>
          <!-- <p>
          <%= terms[i].userId %>
        </p> -->
          <!-- <p>
          <%= terms[i].maxMembers %>
        </p> -->
          <p>
            <%= terms[i].createdAt %>
          </p>
        </div>

        <% } %>
    </div>
  </div>
</form>
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->