<form class="clubs-list">
    <h3 style="text-align: center; margin: 50px 0px 50px 50px;">μ¤νλ¥΄νƒ€μ»¤λ®¤ν΄λ½</h3>
    <div class="form-club">
      <div class="form-category">
        <p>λ¨κ°μ½”/λ¨μ„ κ²μ‹ν</p>
      </div>
      <div class="post-btn">
        <button type="button" class="club-post" onclick="location.href='/club/clubspost'">κΈ€ μ“°κΈ°</button>
      </div>
  
  
      <table class="table table-hover align-middle text-center">
        <thead class="post-btn">
            <tr>
  
              <th scope="col">κΈ€λ²νΈ</th>
              <th scope="col">νμ›λ²νΈ</th>
              <th scope="col">μ λ©</th>
              <th scope="col">λ‚΄μ©</th>
              <th scope="col">μ‹ μ²­</th>
            </tr>
          </thead>
      <tbody>
        <% slicedData.forEach(data => { %>
        <tr>
          <td><%= data.clubId %></td>
          <td><%= data.userId %></td>
          <td><%= data.title %></td>
          <td><%= data.content %></td></a></td>
          <td><a class="btn btn-outline-secondary" onclick="location.href='list/<%= data.clubId%>'" role="button">μμ„Έν</a></td>
        </tr>
        <% }) %>
      </tbody>
      </table>
  
  
    </div>
  </form>
  
  <!-- νμ΄μ§€λ„¤μ΄μ… λ²„νΌ -->
  <div id="pagination">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <% if (unitStart - 1> 0 ) { %>
          <li class="page-item">
            <a class="page-link" href="list?term=<%=terms.term %>&page=<%= unitStart -1 %>" tabindex="-1"
              aria-disabled="true">μ΄μ „</span>
            </a>
          </li>
          <% } %>
            <% for (let i=unitStart; i <= unitEnd; i++) { %>
              <% if (i <= lastPage) { %>
                <% if ( i===page) { %>
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">
                      <%= i %>
                    </span>
                  </li>
                  <% } else { %>
                    <li class="page-item"><a class="page-link" href="list?term=<%=term.term %>&page=<%= i %>">
                        <%= i %>
                      </a></li>
                    <% } %>
                      <% } %>
                        <% } %>
                          <% if (unitEnd <=lastPage) { %>
                            <li class="page-item">
                              <a class="page-link" href="list?term=<%=term.term %>&page=<%= unitEnd +1 %>">λ‹¤μ
                              </a>
                            </li>
                            <% } %> 
      </ul>
    </nav>
  </div>
  
  
  
  <section id="search" class="search-wrap">
    <form action="/club/list" class="search-form">
      <!-- <div class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3"> -->
      <input type="search" id="term" name="term" class="form-control" placeholder="π”(ν…μ¤νΈ)κ²μ‹ν κ²€μƒ‰ : μ λ©, λ‚΄μ©"
        aria-label="Search" pattern=".{1}|.{1,10}" required title="μµμ† 1μ μ΄μƒ μ…λ ¥ν•΄μ•Ό ν•©λ‹λ‹¤">
    </form>
  </section>
  