    <div id="my-grid">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3">
            <div class="container popular_container">
                <div class="club_table_container">
                    <table class="table table-hover club_table">
                        <thead id="club_thead">
                            <tr>
                                <th>인기 이벤트</th>
                                <th></th>
                                <th>😘</th>
                                <th>📆</th>
                                <th>👀</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (sortPosts.length) { %>
                                <% const maxViewCount=Math.max(...sortPosts.map(data=> data.viewCount)) %>
                                    <% sortPosts.forEach(data=> { %>
                                        <tr id="club_tr">
                                            <% if (data.viewCount===maxViewCount) { %>
                                                <td>🥇</td>
                                                <% } else { %>
                                                    <td>🥈</td>
                                                    <% } %>
                                                        <td id="Title"><a class="postLink" href='list/<%= data.id%>'>
                                                                <%= data.title %>
                                                            </a></td>
                                                        <td id="Writer"><a class="postLink"
                                                                href="/userpage/<%= data.userId %>">
                                                                <%= data.user.nickName %>
                                                            </a></td>
                                                        <td id="Date">
                                                            <%= reformPostDate(data.createdAt) %>
                                                        </td>
                                                        <td id="View">
                                                            <%= data.viewCount %>
                                                        </td>
                                                        <td id="Likes">
                                                            <%= data.Likes %>
                                                        </td>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <td id="club_Likes"> 인기글이 없습니다.</td>
                                                                <% } %>
                                        </tr>
                        </tbody>
                    </table>
                </div>
            </div></div>
        <div class="box4"></div>
    </div>


<div class="container club_container">
  <div>
    <a style="cursor: pointer" onclick="newPost()" class="new_club">+ new post</a>
  </div>
  <div class="club_table_container">
    <table class="table table-hover club_table">
      <thead id="club_thead">
        <tr>
          <th>Club</th>
          <th>카테고리</th>
          <th>제목</th>
          <th>작성자</th>
          <th>인원구성</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <% slicedData.forEach(data=> { %>
          <tr id="club_tr">
            <td id="club_Id"><a class="postLink" href='list/<%= data.id%>'>
                <%= data.id %>
              </a></td>
            <td>
              <%= data.category %>
            </td>
            <td id="club_Title"><a class="postLink" href='list/<%= data.id%>'>
                <%= data.title %>
              </a></td>
            <td id="club_Writer"><a class="postLink" href="/userpage/<%= data.userId %>">
                <%= data.user.nickName %>
            </td>

            <td id="club_maxMember">
              <%= data.maxMembers %>
            </td>
            <td id="club_Date">
              <%= reformPostDate(data.createdAt) %>
            </td>
            <td id="club_View">
              <%= data.viewCount %>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</div>

<div id="pagination">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <% if (unitStart - 1> 0 ) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= unitStart -1 %>" tabindex="-1" aria-disabled="true">이전</span>
          </a>
        </li>
        <% } %>
          <% for (let i=unitStart; i <=unitEnd; i++) { %>
            <% if (i <=lastPage) { %>
              <% if ( i===page) { %>
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    <%= i %>
                  </span>
                </li>
                <% } else { %>
                  <li class="page-item"><a class="page-link" href="?page=<%= i %>">
                      <%= i %>
                    </a></li>
                  <% } %>
                    <% } %>
                      <% } %>
                        <% if (unitEnd < lastPage) { %>
                          <li class="page-item">
                            <a class="page-link" href="?page=<%= unitEnd +1 %>">다음
                            </a>
                          </li>
                          <% } %>
    </ul>
  </nav>
</div>

<section id="search" class="search-wrap" >
  <form action="/club/search" class="search-form">
      <div class="input-group">
        <div class="input-group-append" >
          <select class="form-select" name="searchOption" id="searchOption" >
            <option value="title">제목</option>
            <option value="titleAndContent" selected>제목+내용</option>
          </select>
        </div>
        <input type="search" id="term" name="term" class="form-control" placeholder="🔍검색"
          aria-label="Search">
      </div>
    </div>
  </form>
</section>

<script>
  // 검색:이전에 선택된 드롭다운 옵션을 불러옴
  const selectedOption = localStorage.getItem('selectedOption');
  if (selectedOption) {
    document.getElementById('searchOption').value = selectedOption;
  }
  
  // 검색:드롭다운 옵션이 변경될 때마다 localStorage에 저장함
  document.getElementById('searchOption').addEventListener('change', function() {
    localStorage.setItem('selectedOption', this.value);
  });
</script>
