<div id="club_modal" class="club_modal">
  <div class="modal_content_club">
    <div class="club_wrap1">
      <div class="club_form_wrap1">
        <div class="club_append_container">
          <div class="club_modal_body">
            이 모임에 지원하시겠습니까? <br></br>
            본인의 코딩 경력과 스타일에 대해 짧게 소개해 주시면, <br>
            모임 주최자가 확인 후 회원정보상 의 메일 주소로 연락을 드립니다.
          </div>
          <div class="club_modal_text">
            <textarea id="club_modal_textarea" class="club_modal_textarea" placeholder="이곳에 내용을 적어주세요"></textarea>
          </div>
          <div>
            <button class="club_modal_button" onclick="clubApp()">submit !</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="eventdetail_container">
  <div class="eventdetail_button">
    <div class="eventdetail_edit">
      <a onclick="location.href='/club/clubs/<%= detail.id %>'" class="new_event"
        style="cursor: pointer">edit&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    </div>
    <div class="eventdetail_delete">
      <a style="cursor: pointer" onclick="clubdelete()" class="new_event">delete</a>
    </div>
  </div>
  <div class="eventdetail_title">
    <div class="eventdetail_first">
      <div class="eventdetail_first_id">
        <%= detail.id %>
      </div>
      <div class="eventdetail_first_title">
        <div class="first_title">
          Title
        </div>
        <div class="title_text">
          <%= detail.title %>
        </div>
      </div>
      <div class="eventdetail_first_nickname">
        <div class="first_nickname">
          Writer
        </div>
        <div class="nickname_text">
          유저 닉네임 (필요)
        </div>
      </div>
      <div class="eventdetail_first_likes">
        <div class="first_likes">
          Likes
        </div>
        <div class="likes_text">
          개수 (필요)
        </div>
      </div>
    </div>
    <div class="eventdetail_second">
      <div class="eventdetail_second_start">

      </div>
      <div class="eventdetail_second_end">

      </div>
      <div class="eventdetail_second_date">
        <div class="second_date">
          Date
        </div>
        <div class="second_date_text">
          <%= detail.createdAt %>
        </div>
      </div>
      <div class="eventdetail_second_view">
        <div class="view_title">
          View
        </div>
        <div class="view_text">
          조회수 (필요)
        </div>
      </div>
    </div>
  </div>
  <div class="eventdetail_body">
    <div class="eventdetail_body_button">
      <div class="eventdetail_body_button_remind">
        <button class="remind_button" onclick="modal_open()">Apply</button>
      </div>
      <div class="eventdetail_body_button_report">
        <button onclick="report_modal_open()" class="report_button">report</button>
      </div>
    </div>
    <div class="eventdetail_body_text">
      <%= detail.content %>
    </div>
    <div class="eventdetail_like_container">
      <img class="eventdetail_like_img" src="/img/likes.png">
    </div>
    <div class="eventdetail_bottom">
      <!-- 이전 게시글 링크 -->
      <div class="eventdetail_bottom_div">
        <div class="eventdetail_bottom_div_title">
          Prev
        </div>
        <div class="eventdetail_bottom_div_body">
          <% if (prevPost) { %>
            <a href="<%= prevPost.id %>">게시글 제목입니다.</a>
            <% } else {%>
              이전 글이 존재하지 않습니다.
              <%  }%>
        </div>
        <div class="eventdetail_bottom_div_nickname">
          작성자
        </div>
        <div class="eventdetail_bottom_div_date">
          2023.04.03
        </div>
      </div>
      <!-- 다음 게시글 링크 -->
      <div class="eventdetail_bottom_div1">
        <div class="eventdetail_bottom_div_title">
          Next
        </div>
        <div class="eventdetail_bottom_div_body">
          <% if (nextPost) { %>
            <a href="<%= nextPost.id %>">게시글 제목입니다.</a>
            <% } else {%>
            다음 글이 존재하지 않습니다.
            <%  }%>
        </div>
        </div>
        <div class="eventdetail_bottom_div_nickname">
          작성자
        </div>
        <div class="eventdetail_bottom_div_date">
          2023.04.03
        </div>
      </div>
    </div>
  </div>
</div>

<div class="eventdetail_comment_container">
  <div class="comment_body">
    <div class="comment_input_box">
      <textarea class="comment_textarea" placeholder="댓글을 입력해 주세요."></textarea>
    </div>
  </div>
  <div class="comment_input_button_box">
    <button class="comment_input_button">
      작성
    </button>
  </div>
  <div class="comment_show_text">
    <div class="comment_text_box">
      <div class="comment_text_container">
        <div class="comment_nickname">
          닉네임
        </div>
        <div class="comment_content">
          댓글 내용
        </div>
        <div class="comment_date">
          2023.03.20
        </div>
        <div class="comment_like">
          <div>
            <image class="comment_like_img" src="/img/likes.png">
          </div>
          <div>
            32
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="report_modal">
  <div id="report_wrap">
    <div id="report_top">
      <h3>🚨신고하기</h3>
    </div>
    <div id="report_body">
      <dl>
        <dt>제목</dt>
        <dt style="color:gray;">
          <%= detail.title %>
        </dt>
      </dl>
      <dl>
        <dt>작성자 닉네임</dt>
        <dt style="color:gray;">작성자 닉네임 표시 필요</dt>
      </dl>
      <dl>
        <dt>신고자 닉네임</dt>
        <dt style="color:gray; float: center;">신고자 닉네임 표시 필요</dt>
      </dl>
      <dl>
        <dt>신고자 사유</dt>
        <input placeholder="ex:욕설/비방,도배,음란성,기타 등등">
      </dl>
      <dt>신고 내용</dt>
      <textarea id="report_content"></textarea>
      <div id="report_help">
        <div id="report_help_content">
          <span>
            "신고시에는 정확한 신고 내용과, 그에 해당되는 게시물내 문제되는 부분을 정확하게 함께 남겨주셔야 확인 후 조치 가능하오니 참고 부탁드립니다. 감사합니다."
          </span>
        </div>
      </div>
      <div id="report_modal_button">
        <div id="report_submit">
          <button>신고하기</button>
        </div>
        <div id="report_close">
          <button onclick="report_close()">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>