<div class="container club_container">
  <div>
    <a href="clubspost" class="new_club">+ new post</a>
  </div>
  <div class="club_table_container">
    <table class="table table-hover club_table">
      <thead id="club_thead">
        <tr>
          <th>Event</th>
          <th>Title</th>
          <th>Writer</th>
          <th>maxMembers</th>
          <th>Date</th>
          <th>View</th>
          <th>Likes</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < terms.length; i++) {%>
          <tr id="club_tr" onclick="location.href='list/<%= terms[i].clubId%>'">
              <td id="club_Id">
                <%= terms[i].clubId %>
            </td>
            <td id="club_Title">
              <%= terms[i].title %>
            </td>
            <td id="club_Writer">
              <%= terms[i].nickName %>
            </td>
            <td id="club_maxMember">
              <%= terms[i].maxMembers %>
            </td>
            <td id="club_Date">
              <%= terms[i].createdAt %>
            </td>
            <td id="club_View">
   
            </td>
            <td id="club_Likes">
      
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</div>

<section id="search" class="search-wrap">
  <form action="/club/search" class="search-form">
    <div class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" id="term" name="term" class="form-control" placeholder="ðŸ”(í…ŒìŠ¤íŠ¸)ê²Œì‹œíŒ ê²€ìƒ‰ : ì œëª©, ë‚´ìš©"
        aria-label="Search" pattern=".{1}|.{1,10}" required title="ìµœì†Œ 1ìž ì´ìƒ ìž…ë ¥í•´ì•¼ í•©ë‹ˆë‹¤">
  </form>
</section>