<form class="clubs-list">
  <h3 style="text-align: center; margin: 50px 0px 50px 50px;">스파르타커뮤클럽</h3>
  <div class="form-club">
    <div class="form-category">
      <p>모각코/모임 게시판</p>
    </div>
    <div class="post-btn">
      <button type="button" class="club-post" onclick="location.href='/club/clubspost'">글 쓰기</button>
    </div>
    <div class="form-list">
      <% for(let i=0; i < terms.length; i++) {%>
        <div class="list-detail">
          <!-- <p>
          <%= terms[i].clubId %>
        </p> -->
          <p onclick="location.href='list/<%= terms[i].clubId%>'">
            <%= terms[i].title %>
          </p>
          <!-- <p>
          <%= terms[i].userId %>
        </p> -->
          <!-- <p>
          <%= terms[i].maxMembers %>
        </p> -->
          <p>
            <%= terms[i].createdAt %>
          </p>
        </div>
        <% } %>
    </div>
  </div>
</form>


    <section id="search" class="search-wrap">
    <form action="/club/search" class="search-form">
      <div class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" id="term" name="term" class="form-control" placeholder="🔍(테스트)게시판 검색 : 제목, 내용"
        aria-label="Search" pattern=".{1}|.{1,10}" required title="최소 1자 이상 입력해야 합니다">
    </form>
  </section>