<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>이벤트게시판</title>

</head>

<body>
    <div class="event_table_container">
    <div class="event_table_container">
        <table class="table table-hover event_table">
            <thead id="event_thead">
                <tr>
                    <th>이벤트 인기글</th>
                    <th></th>
                    <th></th>
                    <th>👀</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if (sortPosts.length) { %>
                    <% const maxViewCount = Math.max(...sortPosts.map(data => data.viewCount)) %>
                    <% sortPosts.forEach(data => { %>
                      <tr id="club_tr">
                        <% if (data.viewCount === maxViewCount) { %>
                          <td>🥇</td>
                        <% } else { %>
                          <td>🥈</td>
                        <% } %>
                  <td id="Title"><a class="postLink" href='list/<%= data.id%>'><%= data.title %></a></td>
                  <td id="Writer"><a class="postLink" href="/userpage/<%= data.userId %>"><%= data.user.nickName %></a></td>
                  <td id="View"><%= data.viewCount %></td>
                  <td id="Likes"><%= data.Likes %></td>
                  <td id="Date"><% const postDate=new Date(data.createdAt.setHours(data.createdAt.getHours()+9)) ; %>
                    <% if (isSameDay(postDate, currentDate)) { %>
                        <%= format(postDate, 'kk:mm' ) %>
                            <% } else { %>
                                <%= format(postDate, 'yyyy-MM-dd') %>
                                    <% } %></td>
                  <% }) %>
                  <% } else { %>
                    <td id="club_Likes"> 인기글이 없습니다.</td>
                    <% } %>
                  </tr>    
              </tbody>
        </table>
    </div>
  </div>
</div>



    <div class="container event_container">
        <div>
            <a href="newevent" class="new_event">+ new post</a>
        </div>
        <div class="event_table_container">
            <table class="table table-hover event_table">
                <thead id="event_thead">
                    <tr>
                        <th>Event</th>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Event Date</th>
                        <th>View</th>
                        <th>Likes</th>

                    </tr>
                </thead>
                <tbody>
                    <% slicedData.forEach(data => { %>
                    <tr id="event_tr">
                      <td id="Id"><a class="postLink" href='list/<%= data.id%>'><%= data.id %></a></td>
                      <td id="Title"><a class="postLink" href='list/<%= data.id%>'><%= data.title %></a></td>
                      <td id="Writer"><a class="postLink" href="/userpage/<%= data.user.id %>"><%= data.user.nickName %></a></td>
                      <td id="Date"><% const postDate=new Date(data.createdAt.setHours(data.createdAt.getHours()+9)) ; %>
                        <% if (isSameDay(postDate, currentDate)) { %>
                            <%= format(postDate, 'kk:mm' ) %>
                                <% } else { %>
                                    <%= format(postDate, 'yyyy-MM-dd') %>
                                        <% } %></td>
                      <td id="View"><%= data.viewCount %></td>
                      <td id="Likes"><%= data.Likes %></td>
                    </tr>
                    <% }) %>
                  </tbody>
            </table>
        </div>
    </div>

    <!-- 페이지네이션 버튼 -->
    <div id="pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <% if (unitStart - 1> 0 ) { %>
                    <li class="page-item">
                        <a class="page-link" href="list?page=<%= unitStart -1 %>" tabindex="-1"
                            aria-disabled="true">이전</span>
                        </a>
                    </li>
                    <% } %>
                        <% for (let i=unitStart; i <=unitEnd; i++) { %>
                            <% if (i <=lastPage) { %>
                                <% if ( i===page) { %>
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">
                                            <%= i %>
                                        </span>
                                    </li>
                                    <% } else { %>
                                        <li class="page-item">
                                            <a class="page-link" href="list?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } } } %>
                                            <% if (unitEnd <=lastPage) { %>
                                                <li class="page-item">
                                                    <a class="page-link" href="list?page=<%= unitEnd +1 %>">다음
                                                    </a>
                                                </li>
                                                <% } %>
            </ul>
        </nav>
    </div>

    <section id="search" class="search-wrap">
        <form action="/events/search" class="search-form">
            <div class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" id="term" name="term" class="form-control" placeholder="🔍(테스트)게시판 검색 : 제목, 내용"
                    aria-label="Search">
        </form>
    </section>
</body>


<script type="application/javascript">
</script>

</html>