<script>
  function onUpload(e) {
    var imageUrl = URL.createObjectURL(e.files[0])
    document.getElementById('nowimage').src = imageUrl;
  }
  </script>

<div class="eventdetail_container">
  <div class="eventdetail_button">
    <div class="eventdetail_edit">
      <a class="new_event" onclick="updateEvent('<%= event.id %>')">수정&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    </div>
    <div class="eventdetail_delete">
      <a href="/events/list" class="new_event">취소</a>
    </div>
  </div>
  <div class="eventdetail_title">
    <div class="eventdetail_first">
      <div class="eventdetail_first_title">
        <div class="first_title">
          Title
        </div>
        <div class="title_text">
          <input id="event_title" class="event_title" value="<%= event.title %>">

        </div>
      </div>
    </div>
    <div class="eventdetail_second">
      <div class="eventdetail_second_start">
        <div class="start_date">
          Event started at :
        </div>
        <div class="col-3">
          <input type="date" id="startDate" class="form-control" value="<%= event.startDate %>"onchange="dateValidate()">
        </div>
      </div>
      <div class="eventdetail_second_end">
        <div class="end_date">
          Event ended at :
        </div>
        <div class="col-3">
          <input type="date" id="endDate" class="form-control" value="<%= event.endDate %>"onchange="dateValidate()">
        </div>
      </div>
    </div>
    <div class="eventdetail_third">
      <div class="first_file">
        image
      </div>
      <div class="col-8">
        <input type="file" onchange="onUpload(this)" name="eventPostImg" id="eventPostImg" accept="image/*" value="<%= event.postIMG %>">
      </div>
    </div>
  </div>
  <div class="eventdetail_body">
    <div class="eventdetail_body_text">
      <img class="eventImg" id="nowimage" src="<%= event.postIMG %>">
      <p><textarea id="event_content" class="textarea" value=""><%= event.content %></textarea></p>
    </div>
  </div>
</div>
