<script>
  function onUpload(e) {
    var imageUrl = URL.createObjectURL(e.files[0])
    document.getElementById('memberImage').src = imageUrl;
  }
  </script>

<div class="eventdetail_container">
  <div class="eventdetail_button">
    <div class="eventdetail_edit">
      <button class="update_event" onclick="updateEvent('<%= events.id %>')" value="<%= events.id %>">수정&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>

    </div>
    <div class="eventdetail_delete">
      <a href="/events/list" class="new_event">취소</a>
      
    </div>
  </div>
  <div class="eventdetail_title">
    <div class="eventdetail_first">
      <div class="eventdetail_first_title">
        <div class="first_title">
          Title
        </div>
        <div class="title_text">
          <input id="eventUpdateTitle" class="event_title" value="<%= events.title %>">

        </div>
      </div>
    </div>
    <div class="eventdetail_second">
      <div class="eventdetail_second_start">
        <div class="start_date">
          Event started at :
        </div>
        <div class="col-3">
          <!-- <input type="date" id="eventUpdateStartDate" class="form-control"> -->
          <input type="date" id="eventUpdateStartDate" class="form-control" value="<%= events.startDate %>">
        </div>
      </div>
      <div class="eventdetail_second_end">
        <div class="end_date">
          Event ended at :
        </div>
        <div class="col-3">
          <!-- <input type="date" id="eventUpdateEndDate" class="form-control"> -->
          <input type="date" id="eventUpdateEndDate" class="form-control" value="<%= events.endDate %>">
        </div>
      </div>
    </div>
    <div class="eventdetail_third">
      <div class="first_file">
        image
      </div>
      <div class="col-8">
        <!-- <input type="file" name="eventPostImg" id="eventUpdateImg" accept="image/*"> -->
        <input type="file" name="eventPostImg" id="eventUpdateImg" accept="image/*">
      </div>
    </div>
  </div>
  <div class="eventdetail_body">
    <div class="eventdetail_body_text">
      <img class="eventImg" src="<%= events.postIMG %>" >
      <p><textarea id="eventUpdateContent" class="textarea" value="<%= events.content %>"></textarea></p>
    </div>
  </div>
</div>
</form>