<div id="event_modal1" class="event_modal">
  <div class="modal_content_event">
    <div class="event_wrap1">
      <div class="event_form_wrap1">
        <div class="event_append_container">
          <div class="event_modal_body">
            이벤트 알림을 등록합니다. <br />
            알림을 신청한 날짜와,<br />
            이벤트 시작 날짜로 부터 일주일 전, <br />
            등록하신 이메일로 알림 메일이 발송됩니다.<br />
            알림을 받아보시겠습니까?
          </div>
          <div class="event_modal_text">
            <div class="event_modal_email">e-mail</div>
            <div class="event_modal_email_text">
              <input id="event_modal_email" />
            </div>
          </div>
          <div class="event_modal_button_body">
            <button class="event_modal_button" onclick="remindEvent()">
              submit !
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="eventdetail_container">
  <% if (buttonUserId===nowPost.userId) {%>
    <div class="eventdetail_button">
      <div class="eventdetail_edit">
        <a onclick="location.href='<%= nowPost.id %>/updatepage'"
          class="new_event">edit&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
      </div>
      <div class="eventdetail_delete">
        <a onclick="deleteEvent('<%= nowPost.id %>')" class="new_event">delete</a>
      </div>
    </div>
    <% } else { %>
      <% } %>
        <div class="eventdetail_title">
          <div class="eventdetail_first">
            <div class="eventdetail_first_id" id="event_id">
              <%= events.id %>
            </div>
            <div class="eventdetail_first_title">
              <div class="first_title">Title</div>
              <div class="title_text" id="event_title">
                <%= events.title%>
              </div>
            </div>
            <div class="eventdetail_first_nickname">
              <div class="first_nickname">Writer</div>
              <div class="nickname_text">
                <%= events.user.nickName %>
              </div>
            </div>
          </div>
          <div class="eventdetail_second">
            <div class="eventdetail_second_start">
              <div class="start_date">Event started at :</div>
              <div class="date_text" id="event_startDate">
                <%= events.startDate%>
              </div>
            </div>
            <div class="eventdetail_second_end">
              <div class="end_date">Event ended at :</div>
              <div class="date_text" id="event_endDate">
                <%= events.endDate%>
              </div>
            </div>
            <div class="eventdetail_second_view">
              <div class="view_title">View</div>
              <div class="view_text">
                <%= events.viewCount%>
              </div>
            </div>
          </div>
        </div>
        <div class="eventdetail_body">
          <div class="eventdetail_body_button">
            <div class="eventdetail_body_button_remind">
              <button class="remind_button" onclick="event_open()">Remind Me</button>
            </div>
            <div class="eventdetail_body_button_report">
              <button onclick="event_report_modal_open2(); event_report_modal_open(); "
                class="report_button">report</button>
            </div>
          </div>
          <% if ( events.postIMG ){ %>
            <div class="eventdetail_third">
              <div class="col-8">
                <img class="eventImg" src="<%= events.postIMG %>" name="eventPostImg" id="eventPostImg"
                  alt="eventPostImg" />
              </div>
            </div>
            <% } %>

              <div class="eventdetail_body_text">
                <h6>
                  <%= events.content %>
                </h6>
              </div>
              <div class="eventdetail_bottom">
                <div class="eventdetail_bottom_div">
                  <div class="eventdetail_bottom_div_title">
                    <% if (nextPost) { %>
                      <a class="postLink" href="<%= nextPost.id %>">다음글</a>
                      <% } else {%>
                        다음글
                        <% }%>
                  </div>
                  <div class="eventdetail_bottom_div_body">
                    <% if (nextPost) { %>
                      <a class="postLink" href="<%= nextPost.id %>">
                        <%= nextPost.title %>
                      </a>
                      <% } else {%>
                        글이 존재하지 않습니다.
                        <% }%>
                  </div>
                  <div class="eventdetail_bottom_div_nickname">
                    <% if (nextPost) { %>
                      <%= nextPost.user.nickName %>
                        <% } else {%>
                          <% }%>
                  </div>
                  <div class="eventdetail_bottom_div_date">
                    <% if (nextPost) { %>
                      <%= reformPostDate(nextPost.createdAt) %>
                        <% } else {%>
                          <% }%>
                  </div>
                </div>

                <div class="eventdetail_bottom_div">
                  <div class="eventdetail_bottom_div_title">
                    현재글
                  </div>
                  <div class="eventdetail_bottom_div_body">
                    <% if (nowPost) { %>
                      <%= nowPost.title %>
                        <% } %>
                  </div>
                  <div class="eventdetail_bottom_div_nickname">
                    <% if (nowPost) { %>
                      <%= nowPost.user.nickName %>
                        <% } else {%>
                          <% }%>
                  </div>
                  <div class="eventdetail_bottom_div_date">
                    <% if (nowPost) { %>
                      <%= reformPostDate(nowPost.createdAt) %>
                        <% } %>
                  </div>
                </div>
                <div class="eventdetail_bottom_div1">
                  <div class="eventdetail_bottom_div_title">
                    <% if (prevPost) { %>
                      <a class="postLink" href="<%= prevPost.id %>">이전글</a>
                      <% } else {%>
                        이전글
                        <% }%>
                  </div>
                  <div class="eventdetail_bottom_div_body">
                    <% if (prevPost) { %>
                      <a class="postLink" href="<%= prevPost.id %>">
                        <%= prevPost.title %>
                      </a>
                      <% } else {%>
                        글이 존재하지 않습니다.
                        <% }%>
                  </div>
                  <div class="eventdetail_bottom_div_nickname">
                    <% if (prevPost) { %>
                      <%= prevPost.user.nickName %>
                        <% } else {%>
                          <% }%>
                  </div>
                  <div class="eventdetail_bottom_div_date">
                    <% if (prevPost) { %>
                      <%= reformPostDate(prevPost.createdAt) %>
                        <% } %>
                  </div>
                </div>
              </div>
        </div>
</div>

<div class="eventdetail_comment_container">
  <div class="comment_body">
    <div class="comment_input_box">
      <textarea id="comment_textarea" class="comment_textarea" placeholder="댓글을 입력해 주세요."></textarea>
    </div>
    <div data-text="<%= events.id %>" id="comment_show_text" class="comment_show_text"></div>
  </div>
  <div class="comment_input_button_box">
    <button class="comment_input_button" onclick="createEventComment('<%= nowPost.id %>')">
      작성
    </button>
  </div>
  <div id="comment_show_text" class="comment_show_text">
    <% comments.forEach(data=> { %>
      <div class="comment_text_box">
        <div id="comment_text_container<%= data.id %>" class="comment_text_container">
          <div class="comment_nickname">
            <%= data.user.nickName %>

          </div>
          <div id="content_<%= data.id %>" class="comment_content">
            <div id="content_box_<%= data.id %>" class="comment_content_box">
              <%= data.content %>
            </div>
          </div>
          <div class="comment_date">
            <%= reformPostDate(data.createdAt) %>
          </div>
          <div id="comment_like<%= data.id %>" class="comment_like">
            <div>
              <image onclick="updateLike('<%= data.id %>')" class="comment_like_img" src="/img/likes.png">
            </div>
            <div id="event_commentId" class="like_total">
              <%= data.eventCommentLikes.length %>
            </div>
          </div>
        </div>
        <% if (buttonUserId===data.userId) {%>
          <div id="event_comment_button<%= data.id %>" class="event_comment_button">
            <button id="comment_del_button<%= data.id %>" class="comment_button"
              onclick="updateEventComment('<%= data.id %>',' <%= data.content %>')">edit</button>
            <button id="comment_del_button1<%= data.id %>" class="comment_button"
              onclick="deleteEventComment('<%= data.id %>')">delete</button>
          </div>
          <% } else { %>
            <% } %>
      </div>
      <% }) %>
  </div>
</div>
<div id="report_modal">
  <div id="report_wrap">
    <div id="report_top">
      <h3>🚨신고하기</h3>
    </div>
    <div id="report_body">
      <dl>
        <dt>제목</dt>
        <dt style="color:rgb(45, 40, 40);">
          <%= nowPost.title %>
        </dt>
      </dl>
      <dl>
        <dt>작성자 닉네임</dt>
        <dt style="color:rgb(45, 40, 40);">
          <%= nowPost.user.nickName %>
        </dt>
      </dl>
      <dl>
        <dt>신고자 사유</dt>
        <input id="reprot_reason" placeholder="ex:욕설/비방,도배,음란성,기타 등등">
      </dl>
      <dt>신고 내용</dt>
      <textarea id="report_content"></textarea>
      <div id="report_help">
        <div id="report_help_content">
          <span>
            "신고시에는 정확한 신고 내용과, 그에 해당되는 게시물내 문제되는 부분을 정확하게 함께 남겨주셔야 확인 후 조치 가능하오니 참고 부탁드립니다. 감사합니다."
          </span>
        </div>
      </div>
      <div id="report_modal_button">
        <div id="report_submit">
          <button onclick="event_report_submit()">신고하기</button>
        </div>
        <div id="report_close">
          <button onclick="event_report_close()">취소</button>
        </div>
      </div>
    </div>
  </div>
</div>