<body>
  <div style="margin: 100px 10px 150px 10px">
    <div>
      <h3 style="text-align: center; margin-bottom: 150">스파르타커뮤클럽</h3>
    </div>

    <div class="container-lg" style="margin-top: 200">
      <div style="background-color: #faefe5; text-align: center">
        <h5 style="background-color: #ffc0c0; text-align: left">
          이벤트 게시판
        </h5>
        <% {%>
        <div class="row">
          <div class="col-8">
            <input
              type="text"
              id="title2"
              class="form-control"
              placeholder="Enter email"
              name="email"
              value="<%= events.title %>"
            />
          </div>
          <div class="col-4">
            <input
              type="text"
              class="form-control"
              placeholder="Enter email"
              name="email"
              value=" <%= events.createdateAt %>"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="text"
              id="date2"
              class="form-control"
              placeholder="Enter email"
              name="email"
              value="<%= events.date %>"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="text"
              id="content2"
              class="form-control"
              placeholder="Enter email"
              name="email"
              value="<%= events.content %>"
            />
          </div>
        </div>
        <% } %>
      </div>
      <button type="button" onclick="updateEvent('<%= events.eventPostId %>')">
        수정하기
      </button>
    </div>
  </div>
</body>
