<body>
  <div style="margin: 100px 10px 150px 10px">
    <div>
      <h3 style="text-align: center; margin-bottom: 150">스파르타커뮤클럽</h3>
    </div>

    <div class="container-lg" style="margin-top: 200">
      <div style="background-color: #faefe5; text-align: center">
        <h5 style="background-color: #ffc0c0; text-align: left">
          이벤트 게시판
        </h5>
        <% {%>
        <div class="row">
          <div class="col-8">
            <%= events.title %>
            <input
              type="text"
              class="form-control"
              placeholder="Enter email"
              name="email"
            />
          </div>
          <div class="col-4">
            <%= events.createdateAt %>
            <input
              type="text"
              class="form-control"
              placeholder="Enter email"
              name="email"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-9">
            <%= events.userId %>
            <input
              type="text"
              class="form-control"
              placeholder="Enter email"
              name="email"
            />
          </div>
          <div class="col-3" style="float: right">
            <button type="button" class="btn btn-outline-danger">신고</button>
            <button type="button" class="btn btn-outline-danger">
              알림등록하기
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Enter email"
              name="email"
            />
            <%= events.date %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Enter email"
              name="email"
            />
            <%= events.title %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Enter email"
              name="email"
            />
            <%= events.content %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
