<div style="margin: 100px 10px 150px 10px">
  <div>
    <h3 style="text-align: center; margin-bottom: 150">스파르타커뮤클럽</h3>
  </div>

  <div class="container-lg" style="margin-top: 200">
    <% {%>
    <div style="margin-bottom: 13px">
      <button
        type="button"
        class="btn btn-outline-danger"
        onclick="location.href='<%= events.eventPostId%>/update'"
      >
        수정하기
      </button>
      <button
        type="button"
        class="btn btn-outline-danger"
        onclick="deleteEvent('<%= events.eventPostId %>')"
      >
        삭제하기
      </button>
    </div>
    <% } %>
    <div
      style="background-color: #faefe5; text-align: center; margin-top: 13px"
    >
      <h5 style="background-color: #ffc0c0; text-align: left">이벤트 게시판</h5>
      <% {%>
      <div class="row">
        <div class="col-8"><%= events.title %></div>
        <div class="col-4"><%= events.createdateAt %></div>
      </div>
      <div class="row">
        <div class="col-9"><%= events.user.nickName %></div>
        <div class="col-3" style="float: right">
          <button type="button" class="btn btn-outline-danger">신고</button>
          <button type="button" class="btn btn-outline-danger">
            알림등록하기
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col"><%= events.date %></div>
      </div>
      <div class="row" style="width: 924px; height: 700px">
        <div class="col-12"><%= events.content %></div>
      </div>
      <% } %>
    </div>
  </div>
</div>
