<div class="container event_container">
    <div>
        <a href="users?term=<%=term.term %>" class="new_club"> <%= users.length%>건 결과 모두보기></a>
    </div>
    <div class="event_table_container">
        <table class="table table-hover event_table">
            <thead id="event_thead">
                <tr>
                    <th>구분</th>
                    <th>닉네임</th>
                    <th>GITHUB</th>
                    <th>좋아요</th>
                    <th>가입일</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(data=> { %>
                    <tr id="club_tr">
                        <td id="club_Id"> 유저 </td>
                        <td id="club_Writer"><a class="postLink" href="/userpage/<%= data.id %>"><%= data.nickName%><img src="<%= data.userIMG %>"width="40"></a></td>
                        <td id="club_Likes"><a class="postLink" href="http://<%= data.snsURL %>"><%= data.snsURL %>
                        <td id="club_Likes"><%= data.Likes %></td>
                        <td id="club_Date"><%= data.createdAt %></td>
  
                      </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <div>
        <a href="/events/search?term=<%=term.term %>" class="new_club"> <%= events.length %>건 결과 모두보기></a>
      </div>
  <div class="event_table_container">
      <table class="table table-hover event_table">
          <thead id="event_thead">
              <tr>
                  <th>구 분</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>⏰Date</th>
                  <th>View</th>
                  <th>Likes</th>
              </tr>
          </thead>
          <tbody>
              <% events.forEach(data=> { %>
                  <tr id="club_tr">
                      <td id="club_Id">이벤트</td>
                      <td id="club_Title"><a class="postLink" href='/events/list/<%= data.id%>'>
                              <%= data.title %>
                          </a></td>
                      <td id="club_Writer"><a class="postLink" href="/userpage/<%= data.userId %>">
                              <%= data.user.nickName %>
                      </td>
                      <td id="club_Date">
                          <%= data.createdAt %>
                      </td>
                      <td id="club_View">
                          <%= data.viewCount %>
                      </td>
                      <td id="club_Likes">
                          <%= data.Likes %>
                      </td>
                  </tr>
                  <% }) %>
          </tbody>
      </table>
  </div>

  <div>
    <a href="/club/search?term=<%=term.term %>" class="new_club"> <%= clubs.length%>건 결과 모두보기></a>
  </div>
  <div class="event_table_container">
      <table class="table table-hover event_table">
          <thead id="event_thead">
              <tr>
                  <th>구분</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>⏰Date</th>
                  <th>View</th>
                  <th>Likes</th>
              </tr>
          </thead>
          <tbody>
              <% clubs.forEach(data=> { %>
                  <tr id="club_tr">
                      <td id="club_Id">클럽</td>
                      <td id="club_Title"><a class="postLink" href='/club/list/<%= data.id%>'>
                              <%= data.title %>
                          </a></td>
                      <td id="club_Writer"><a class="postLink" href="/userpage/<%= data.userId %>"><%= data.user.nickName
                                  %>
                      </td>
                      <td id="club_Date">
                          <%= data.createdAt %>
                      </td>
                      <td id="club_View">
                          <%= data.viewCount %>
                      </td>
                      <td id="club_Likes">
                          <%= data.Likes %>
                      </td>
                  </tr>
                  <% }) %>
          </tbody>
      </table>
  </div>




<!-- <section id="search" class="search-wrap">
    <form action="/search/posts" class="search-form">
      <input type="search" id="term" name="term" class="form-control" placeholder="🔍게시글 검색테스트: 제목, 내용"
      aria-label="Search" pattern=".{1}|.{1,10}" required title="최소 1자 이상 입력해야 합니다">
    </form>
</section> -->