<h3> search 통합검색 페이지</h3>


<section id="search-wrap">
  <form action="#">
    <select name="typeSelect" id="type">
      <option value="titleContent">제목+내용</option>
      <option value="title">제목</option>
      <option value="userId">작성자</option>
    </select>
  <div class="search">
      <form action="/search/posts" class="search-form">
          <input type="search" id="term" name="term" class="form-control" placeholder="게시글 검색테스트: 제목, 내용"
              aria-label="Search" pattern=".{1}|.{1,10}" required title="최소 1자 이상 입력해야 합니다">
          <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
      </form>
  </div>
</section>


<%= title %>
<table class="table table-hover align-middle text-center">
    <thead class="table-dark">
        <tr>
          <th scope="col">이벤트</th>
          <th scope="col">글번호</th>
          <th scope="col">회원번호</th>
          <th scope="col">제목</th>
          <th scope="col">내용</th>
        </tr>
      </thead>

      <tbody>

          <% events.forEach(data => { %>
        <tr>
          <td><a class="btn btn-outline-secondary" href="/events/<%= data.eventPostId %>" role="button">자세히보기</a></td>  
          <td><%= data.eventPostId %></td>
          <td><%= data.userId %></td>
          <td><%= data.title %></td>
          <td><%= data.content %></td></a></td>
        </tr>
        <% }) %>
      </tbody>
</table>
<table class="table table-hover align-middle text-center">
    <thead class="table-dark">
        <tr>
          <th scope="col">클럽</th>
          <th scope="col">글번호</th>
          <th scope="col">회원번호</th>
          <th scope="col">제목</th>
          <th scope="col">내용</th>
        </tr>
      </thead>

      <tbody>
        <% clubs.forEach(data => { %>
        <tr>
          <td><a class="btn btn-outline-secondary" href="/club/<%= data.clubId %>" role="button">자세히보기</a></td>
          <td><%= data.clubId %></td>
          <td><%= data.userId %></td>
          <td><%= data.title %></td>
          <td><%= data.content %></td></a></td>
        </tr>
        <% }) %>
      </tbody>
</table>


