<h3> 회원 검색 결과</h3>
<section id="search" class="search-wrap">
  <form action="/search/users" class="search-form">
      <!-- <div class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3"> -->
      <input type="search" id="term" name="term" class="form-control" placeholder="🔍(테스트)유저 검색 : email, 닉네임"
          aria-label="Search" pattern=".{1}|.{1,10}" required title="최소 1자 이상 입력해야 합니다">
  </form>
</section>
<table class="table table-hover align-middle text-center">
    <thead class="table-dark">
        <tr>
          <th scope="col">회원번호</th>
          <th scope="col">닉네임</th>
          <th scope="col">연락처</th>
          <th scope="col">이메일</th>
          <th scope="col">유저페이지</th>
        </tr>
      </thead>

      <tbody>
        <% for(let i=0; i < terms.length; i++) {%>
        <tr>
          <th scope="row"><h5><%= terms[i].userId %></th>
          <td><%= terms[i].nickName %></td>
          <td>연락처 : <%= terms[i].phone %></td>
          <td>이메일 : <%= terms[i].email %></td>
          <td><a class="btn btn-outline-secondary" href="/userpage/<%= terms[i].userId %>" role="button">방문</a></td>
        </tr>
        <% } %>
      </tbody>
</table>

