<!-- 

  <script>
    function setIsEditing(isEditing) {
      console.log(isEditing)
      isEditing = !isEditing;
      console.log(isEditing)
    }
  </script> -->

<!-- modal1 -->
 <div id="Appmodal" class="Appmodal">
  <div class="app_modal">
    <div class="application">
      <div class="app_title">
        <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        Applications
        </p>
      </div>
      <div class="app_body">

      </div>
    </div>
  </div>
</div> 

<!-- modal2 -->
<!-- <div id="Appmodal2" class="Appmodal2">
  <div class="app_modal2">
    <div class="application2">

    </div>
  </div>
</div> -->
<!--body-->

<div class="huge-container">
  <div class="box member-image-box">
    <div class="member-image">
      <img src="<%= myInfo.userIMG %>" alt="memberimage" />
    </div>
  </div>
  <br />
  <div class="box huge-userbox">
    <p style="font-family: Alfa Slab One, sans-serif; font-size: 30px">
      User Info
    </p>
    <br />
    <a
    href="/userpage/<%= myInfo.userId %>/edit"
    style="
        font-family: Amiko, sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #ea4e4e;
        float: right;
      ">
      + edit
  </a>
    <div class="box userinfo-box">
      <br />
      <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        You can call me...
      </p>
      <p style="
          font-family: Amiko, sans-serif;
          font-size: 20px;
          font-weight: bold;
        ">
        <%= myInfo.nickName %>
      </p>
      <br />
      <br />
      <br />
      <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        Contact
      </p>
      <p style="
          font-family: Amiko, sans-serif;
          font-size: 20px;
          font-weight: bold;
        ">
        <%= myInfo.email %>
      </p>
      <br />
      <br />
      <br />
      <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        Check my GitHub !
      </p>
      <p style="
          font-family: Amiko, sans-serif;
          font-size: 20px;
          font-weight: bold;
        ">
        <%= myInfo.snsURL %>
      </p>

      <br />
    </div>
    <div class="box additional-info">
      <br /> <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        P*word <br> 
        <p style="
        font-family: Amiko, sans-serif;
        font-size: 20px;
        font-weight: bold;
      "><%= myInfo.password %></p>
      <br /> <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        Cell-phone Number <br> 
        <p style="
        font-family: Amiko, sans-serif;
        font-size: 20px;
        font-weight: bold;
      "><%= myInfo.phone %></p>
    
    
    </div>


    <div class="box huge-activities">
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 30px">
        Latest Activities
      </p>

      <div class="box activities-box">
        <br />

        <% for(let i = 0; i < myPosts.clubPosts.length; i++) {%>

        <!-- <font style="color: #ea4e4e; float: left; size: 14px"> -->
          <%=myPosts.clubPosts[i].title%> <%=myPosts.clubPosts[i].content %>
        <!-- </font> -->
        <br />
        <%=myPosts.clubPosts[i].content %>
        
        <% } %>
        <br />
        2023-03-02
        <br />
        <br />
        <font style="color: #ea4e4e"> 웹의 새로운 미래 컨퍼런스 </font>
        <br />
        더 넓은 확장성을 기대하는 개발자 여러분, 앞으로 웹은 어떤 모습으로
        미래를 ...
        <br />
        2023-03-15
        <br />
      </div>
      <div class="box huge-clubs">
        <p style="font-family: Alfa Slab One, sans-serif; font-size: 30px">
          Belong to this clubs...
        </p>

        <br />
        <div class="box myclubs">
          <div class="box message">
          <img src= "/img/message.png" onclick="modal_open1()">
          </div>
          <br />
          <br />
          <br />
          <br />
      
          <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
            My Clubs
          </p>
          <p style="
              font-family: Amiko, sans-serif;
              font-size: 20px;
              font-weight: normal;
              color: #ea4e4e;
            ">
            자바스크립트 3명 타세요!! 면접 준비합시다!
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
            I'm in
          </p>
          <p style="
              font-family: Amiko, sans-serif;
              font-size: 20px;
              font-weight: normal;
              color: #ea4e4e;
            ">
            맛잘알 김선생과 떠나는 우당탕탕 맛있는 node.js
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="box-container">
  <div class="box image-info-box">
    <div class="image-box">
      <div class="member-photo">
        <img src="<%= myInfo.userIMG %>" alt="Member Photo">
      </div>
    </div>
    <div class="info-box">
      <% let isEditing = false; %>
      <h5> 회 원 정 보
        <button onclick="() => " class="edit-box"> <%= isEditing ? "확인" : "수정" %> </button>
      </h5>
      <div class="userBio_container">
        <div>
          Name :&nbsp  <br>
          E-mail :&nbsp<br>
          <br><br>
          Social media :&nbsp<%= myInfo.snsURL %>
        </div>
      </div>
    </div>
  </div> -->
<!-- <div class="post-column">
    <button class="message-box" onclick="modal_open1(); selectApp('<%= myInfo.userId %>');">쪽지함</button>
    <div class="box post-box">
      <div class="userPosts_container">
        <div>
          <% for(let i = 0; i < myPosts.clubPosts.length; i++) {%>
          <p class="clubPost">
          <h5>제목 : <%=myPosts.clubPosts[i].title %></h5>
          <h5>내용 : <%= myPosts.clubPosts[i].content %></h5>
          </p>
          <% } %>
          <% for(let i = 0; i < myPosts.eventPosts.length; i++) {%>
          <p class="eventPost">
          <h5>제목 : <%=myPosts.eventPosts[i].title %></h5>
          <h5>내용 : <%= myPosts.eventPosts[i].content %></h5>
          </p>
          <% } %>
        </div>
      </div>
    </div>
  </div> -->

<!-- </div> -->
</div>