<script>
  $(document).ready(function () {
    show_userPosts('<%= myInfo.userId %>', null, null);
  });
</script>


<div id="Appmodal" class="Appmodal">
  <div class="app_modal">
    <div class="application">
      <div class="app_title">
        <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
          Applications
        </p>
      </div>
      <div class="app_body"></div>
      <div class="app_action"></div>
    </div>
  </div>
</div>

<div class="huge-container">
  <div class="box member-image-box">
    <div class="member-image">
      <img src="<%= myInfo.userIMG %>" alt="memberimage" />
    </div>
  </div>
  <br />
  <div class="box huge-userbox">
    <p style="font-family: Alfa Slab One, sans-serif; font-size: 30px">
      User Info
    </p>
    <br />
    <a href="/userpage/<%= myInfo.userId %>/edit" style="
        font-family: Amiko, sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #ea4e4e;
        float: right;
      ">
      + edit
    </a>
    <div class="box userinfo-box">
      <br />
      <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        You can call me...
      </p>
      <p style="
          font-family: Amiko, sans-serif;
          font-size: 20px;
          font-weight: bold;
        ">
        <%= myInfo.nickName %>
      </p>
      <br />
      <br />
      <br />
      <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        Contact
      </p>
      <p style="
          font-family: Amiko, sans-serif;
          font-size: 20px;
          font-weight: bold;
        ">
        <%= myInfo.email %>
      </p>
      <br />
      <br />
      <br />
      <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        Check my GitHub !
      </p>
      <p style="
          font-family: Amiko, sans-serif;
          font-size: 20px;
          font-weight: bold;
        ">
        <%= myInfo.snsURL %>
      </p>

      <br />
    </div>
    <div class="box additional-info">
      <br />
      <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        P*word <br />
      </p>

      <p style="
          font-family: Amiko, sans-serif;
          font-size: 20px;
          font-weight: bold;
        ">
        <%= myInfo.password %>
      </p>
      <br />
      <br />
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
        Cell-phone Number <br />
      </p>

      <p style="
          font-family: Amiko, sans-serif;
          font-size: 20px;
          font-weight: bold;
        ">
        <%= myInfo.phone %>
      </p>
    </div>

    <div class="box huge-activities">
      <p style="font-family: Alfa Slab One, sans-serif; font-size: 30px">
        Latest Activities
      </p>

      <div class="box activities-box">
        <div id="clubPosts"> </div>
      </div>
      <div class="box huge-clubs">
        <p style="font-family: Alfa Slab One, sans-serif; font-size: 30px">
          Belong to this clubs...
        </p>

        <br />
        <div class="box myclubs">
          <div class="box message">
            <img src="/img/message.png" onclick="modal_open1('<%= myInfo.userId %>')">
          </div>
          <br />
          <br />
          <br />
          <br />

          <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
            My Clubs
          </p>
          <p style="
                font-family: Amiko, sans-serif;
                font-size: 20px;
                font-weight: normal;
                color: #ea4e4e;
              ">
            <br />
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <p style="font-family: Alfa Slab One, sans-serif; font-size: 26px">
            I'm in
          </p>
          <p style="
              font-family: Amiko, sans-serif;
              font-size: 20px;
              font-weight: normal;
              color: #ea4e4e;
              ">
          </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>