<!-- 

  <script>
    function setIsEditing(isEditing) {
      console.log(isEditing)
      isEditing = !isEditing;
      console.log(isEditing)
    }
  </script> -->

<!-- modal1 -->
<!-- <div id="Appmodal" class="Appmodal">
  <div class="app_modal">
    <div class="application">
      <div class="app_title">
        모임 신청서
      </div>
      <div class="app_body">


      </div>
    </div>
  </div>
</div> -->

<!-- modal2 -->
<!-- <div id="Appmodal2" class="Appmodal2">
  <div class="app_modal2">
    <div class="application2">

    </div>
  </div>
</div> -->
<!--body-->

<div class="huge-container">
  <div class="box member-image-box">
    <div class="member-image">
      <img src="<%= myInfo.userIMG %>" alt="memberimage" />
    </div>
  </div>
  <br />
  <div class="box huge-userbox">
    여기에 User Info
    <div class="box userinfo-box">
      You can call me... (image)
      <br />
      <br />
      피카츄
      <br />
      <br />
      <br />
      Contact (image)
      <br />
      <br />
      test@naver.com
      <br />
      <br />
      <br />
      Check my GitHub!!! (image)
      <br />
      <br />
      http://github.com/test
      <br />
    </div>
  </div>
  <div class="box huge-activities">
    여기에 Latest Activities
    <div class="box activities-box">
      <font style="color: #ea4e4e"> 웨비나 세션, 코딩 물경력 탈출! </font>
      <br />
      4월 3일 강남역 n번출구 XX센터에서 열리는 웨비나 세션에 여러분을
      초대합니다.
      <br />
      2023-03-02
      <br />    <br />
      <font style="color: #ea4e4e"> 웹의 새로운 미래 컨퍼런스 </font>
      <br />
      더 넓은 확장성을 기대하는 개발자 여러분, 앞으로 웹은 어떤 모습으로 미래를
      ...
      <br />
      2023-03-15
      <br />
    </div>
  </div>
  <div class="box huge-clubs">
Belong to this clubs...
<div class = "box myclubs"> </div>
  </div>
  </div>

  <!-- <div class="box-container">
  <div class="box image-info-box">
    <div class="image-box">
      <div class="member-photo">
        <img src="<%= myInfo.userIMG %>" alt="Member Photo">
      </div>
    </div>
    <div class="info-box">
      <% let isEditing = false; %>
      <h5> 회 원 정 보
        <button onclick="() => " class="edit-box"> <%= isEditing ? "확인" : "수정" %> </button>
      </h5>
      <div class="userBio_container">
        <div>
          Name :&nbsp <%= myInfo.nickName %> <br>
          E-mail :&nbsp <%= myInfo.email %><br>
          <br><br>
          Social media :&nbsp<%= myInfo.snsURL %>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="post-column">
    <button class="message-box" onclick="modal_open1(); selectApp('<%= myInfo.userId %>');">쪽지함</button>
    <div class="box post-box">
      <div class="userPosts_container">
        <div>
          <% for(let i = 0; i < myPosts.clubPosts.length; i++) {%>
          <p class="clubPost">
          <h5>제목 : <%=myPosts.clubPosts[i].title %></h5>
          <h5>내용 : <%= myPosts.clubPosts[i].content %></h5>
          </p>
          <% } %>
          <% for(let i = 0; i < myPosts.eventPosts.length; i++) {%>
          <p class="eventPost">
          <h5>제목 : <%=myPosts.eventPosts[i].title %></h5>
          <h5>내용 : <%= myPosts.eventPosts[i].content %></h5>
          </p>
          <% } %>
        </div>
      </div>
    </div>
  </div> -->

  <!-- </div> -->
</div>
